@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
background-color: #1d1e22;
font-family: Quicksand;
font-size: 18px;
color: #111111;
padding-bottom: 30px;
}

.input-field {
  height: 20px;
  width: 90%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.fa2 {
font-size: 16px;
vertical-align: baseline;
}

#title {
color: #EEF2FE;
text-align: center;
text-decoration: underline #52C600;
}

#foreground {
background-color: #CED7EE;
margin: 25px auto 25px auto;
width: 75%;
padding: 25px 25px 25px 25px;
border-radius: 5em 15px;
box-shadow: 5px 8px 6px rgba(0,0,0,0.3);
}

p {
text-align: center;
margin: auto;
font-size: 20px;
}

label {
  cursor: pointer;
}

.labels {
  display: inline-block;
  float: left;
  text-align: right;
  width: 48%;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
}

.rightside {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

#preferences {
padding-left: 0px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hiding the browser default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Custom radio button */
.checkmarkm, .checkmarkf {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #c1c3cb;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmarkm {
  background-color: #2196F3;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}
.container input:checked ~ .checkmarkf {
  background-color: pink;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkf:after, .checkmarkm:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmarkm:after {
  display: block;
}
.container input:checked ~ .checkmarkf:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmarkm:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
.container .checkmarkf:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}


button {
  float: right;
  position: relative;
  right: 1em;
  background-color: rgba(82, 198, 0, 0.9);
  border: 2px solid #52C600;
  border-radius: 3.2em 15px;
  color: #ebebeb;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.2em;
  line-height: 1;
  margin: -20px;
  padding: 1.2em 4.8em;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  transition: box-shadow 400ms ease-in-out;
}
button:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #52C600 inset;
    transition: box-shadow 150ms ease-in-out;
}

/* Responsive */
@media screen and (max-width: 750px) {
button {
display: inline-block;
margin: auto;
font-size: 0.9em;
}
  body {
font-size: 15px;
}
p {
font-size: 16px;
}
}

@media screen and (max-width: 500px) {
button {
display: inline-block;
margin: auto;
font-size: 0.9em;
}
p {
font-size: 15px;
}
body {
font-size: 12px;
}
.labels {
text-align: left;
float: none;
width: 100%;
}
.rightside {
width: 100%;
}
}